env/
*.sqlite
.idea/
nohup.out
bin/preload.sql
*.DS_Store
*.pyc
node_modules/
.ve/
.cache/
.*cache/
__pycache__
*.swp
*.egg-info/
MANIFEST
*.data.cache
dist/
build/
**/test-results/
env.json
build-output/
.vscode/
.nebulae/
stubs/
.dmypy.json
tests/*.xml

